{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="login_box">
        <div class="picture_box">
            <img id="login_img" src="{% static 'images/login_page_image.png' %}">
        </div>
        <div class="data_box">
            <div class="login_content">
                <div class="heading">
                    <h1>Login</h1>
                </div>
                
                <form method='POST' class="login_form">
                    {% csrf_token %}
                    <label>User Name</label>
                    <input type="text" name="username">
                    <label>Password</label>
                    <input type="password" name="password">
                    <button id="login_button" type="submit">Login</button>
                </form>
                
            </div>
        </div>
    </div>
</body>
</html>